[submodule "modules/sentry-native"]
	path = modules/sentry-native
	url = https://github.com/getsentry/sentry-native
[submodule "modules/sentry-cocoa"]
	path = modules/sentry-cocoa
	url = https://github.com/getsentry/sentry-cocoa
